/*шрифт*/
.div {
  font-family: 'Poppins', sans-serif;
}
/* colors */
.logo {
  font-size: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  padding-bottom: 160px;
}
.header-icon {
  padding-top: 4px;
}
.link {
  color: #242323;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1%;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}
.header-links {
  display: inline;
  text-align: end;
}
.black-link {
  background-color: black;
  color: white;
  vertical-align: center;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1%;
  text-decoration: none;
  border-radius: 5px;
  border: #000 solid 15px;
}
.black-linkhover {
  border-color: #242323;
}
.white-fon {
  display: inline-block;
  width: 465px;
  height: 112px;
  background: white;
  position: absolute;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  z-index: 1;
  top: 100px;
  left: 90px;
}
.main-title {
  color: #000;
  font-size: 96px;
  font-weight: 900;
  letter-spacing: 0%;
  padding: 0;
  display: inline-block;
  z-index: 999;
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  line-height: 120PX;
}
.main-content {
  background-color: #F4F6F5;
  border-radius: 59px;
  height: 850px;
}
.parent {
  position: relative;
}
@media (max-width: 991px) {
  .link {
    font-size: 15px;
    margin-left: 0;
  }
  .logo {
    font-size: 22px;
  }
}
.subs-main {
  position: relative;
  z-index: 999;
  font-size: 32px;
  letter-spacing: -5%;
  padding-top: 40px;
  margin-left: 100px;
}
.pick-button {
  margin-left: 100px;
}
.shop-now {
  margin-left: 34px;
}
.white-fon-2 {
  display: inline-block;
  width: 495px;
  height: 117px;
  background: #EBD96B;
  position: absolute;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  z-index: 1;
  top: 330px;
  left: 90px;
}
.pic {
  position: absolute;
  width: 800px;
  top: 130px;
  left: 500px;
  z-index: 1 ;
}
.star {
  position: absolute;
  z-index: 1 ;
}
.star-1 {
  bottom: -100px;
  left: 600px;
}
.star-2 {
  top: 100px;
  left: 650px;
}
.star-3 {
  top: 130px;
  left: 1200px;
}
.star-4 {
  bottom: -50px;
  left: 1150px;
}
.yellow-line {
  margin-top: 70px;
  height: 180px;
  background-color: #EBD96B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.logos {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.arrivals {
  position: relative;
}
.new_arrivals {
  line-height: 50px;
  color: #000;
  letter-spacing: 6%;
  font-weight: 900;
  font-size: 48px;
  z-index: 99;
  position: relative;
  margin: 70px 0 90px 0;
}
.new_arrivals_decor {
  position: relative;
  bottom: 120px;
  z-index: 2;
  left: 190px;
}
.card {
  border: none;
}
.card p {
  font-size: 24px;
  color: #7F7F7F;
  font-weight: 400;
  letter-spacing: -4%;
}
.card h3 {
  font-size: 36px;
  letter-spacing: -4%;
  color: #191919;
}
.card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer {
  margin-top: 300px;
  background-color: #000;
  height: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F4F6F5;
}
.footer h5 {
  letter-spacing: 3%;
  font-size: 40px;
  font-weight: 900;
}
.footer p {
  letter-spacing: 2%;
  font-size: 24px;
  line-height: 40px;
  font-weight: 100;
  color: #8E8E8E;
}
.footer-img {
  margin-right: 13px;
}
.fas {
  margin-bottom: 50px;
}
.com {
  margin-bottom: 40px;
}
